@import "tailwindcss";

@plugin "daisyui";

body {
  color: #212122;

  /* transition: all 1000ms; */
}

@theme {
  --font-poppins: "poppins", "sans-serif";
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

.p-datepicker {
  background-color: white;
  padding-inline: 4px;
  border-radius: 10px;
  cursor: pointer;
  
}

.p-timepicker * {
  padding-inline: 2px;
  width: max-content;
  background-color: white;
  cursor: pointer;
}



