@import "tailwindcss";



body {
  color: #212122;

  /* transition: all 1000ms; */
}

@theme {
  --font-poppins: "poppins", "sans-serif";
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.p-datepicker {
  background-color: rgb(240, 240, 240);
  padding-inline: 4px;
  border-radius: 10px;
  cursor: pointer;
  
}

.p-timepicker * {
  padding-inline: 2px;
  width: max-content;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}



